:root {
  --primary-color: #183c84;
  --secondary-color: #e0e0e0;
  --secondary-color-dark: #8d8d8d;
  --text-color: rgb(0, 0, 0);
}
html {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}
body {
  margin: 0;
}
.header {
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 15px;
}

a.top-link {
  color: var(--secondary-color);
  font-weight: 600;
}

.aside {
  background-color: var(--secondary-color);
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.footer {
  background-color: var(--secondary-color-dark);
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

.advert {
  width: 100%;
  background-image: url("background.jpg");
}
fieldset.form-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary-color);
  border: none;
}

button.btn {
  margin: 0.1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.actions-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: stretch;
}

li.todo {
  margin: 0.5rem 1rem;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--secondary-color);
  cursor: pointer;
}

div.todo-box {
  margin: 0.5rem;
}

.todo-task {
  width: 50%;
}
.todo-code {
  width: 10%;
}

.todo-date {
  width: 15%;
}
.form-group {
  display: flex;
  flex-direction: column;
}

.todo-date p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.todo-actions {
  width: 8%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

ul#todos {
  padding-inline-start: 0;
}
